<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EmployeeList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<h1>Employees</h1>
	
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
		
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div> 
	
    <table class = "table table-striped">
    	<thead>
		<tr>
		    <th>Name</th>
		    <th>Age</th>
		    <th>Social Security Number</th>
		    <th>Salary</th>
		    <th>Department</th>
		</tr>
		</thead>
		<tbody>  
    	<tr th:each = "employee : ${employees}">
    		<td th:text="${employee.name}"></td>
    		<td th:text="${employee.age}"></td>
    		<td th:text="${employee.socialSecurityNumber}"></td>
    		<td th:text="${employee.salary}"></td>
    		<td th:text="${employee.department.name}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${employee.id})}">Delete</a></td>
 			<td><a class="btn btn-primary" th:href="@{./edit/{id}(id=${employee.id})}">Edit</a></td>    		
    	</tr>
    	</tbody>
     </table>
	 <a class="btn btn-success" href="/addemployee">Add Employee</a>  
	 </div>  	
</body>
</html>